.close-icon {
  opacity: 0;
  transition: opacity 0.2s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.08) !important;
  }
}

.MuiTab-root:hover .close-icon {
  opacity: 1;
}

.dragging-tab {
  transition: transform 0.2s ease;
}

.drag-overlay {
  .MuiTab-root {
    transform-origin: center center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.react-tabs__tab--selected {
  border: none;
}

.react-tabs__tab {
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  overflow: hidden;
}

.custom-tab-content {
  // hover tab组件显示关闭按钮
  // .custom-close-button {
  //   opacity: 0;
  //   transition: opacity 0.2s ease;
  // }

  // &:hover .custom-close-button {
  //   opacity: 1;
  // }
}
